{% extends "layout.html.j2" %}
{% block content %}
  <ul>
    {% for sensor in sensors %}
      <li><a href="/sensor/{{ sensor.id }}">{{ sensor.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
